body {
  box-sizing: border-box;
  background-color: #dfdfdf;
  font-family: "Roboto", sans-serif;

  .wrapper {
    margin-top: 20px;
    background-color: white;
    max-width: 1075px;

    @media (max-width: 768px) {
      margin-top: 0;
    }
  }
}

img[src="assets/img/undefined.jpg"] {
  display: none;
}
img[src="assets/img/undefined.png"] {
  display: none;
}

.report {
  background-color: #0a9c9c;
  color: white;
  font-weight: 500;
  padding: 3px 8px;
  margin-bottom: 10px;
}

h1:not(.std) {
  font-size: 25px;
  line-height: 28px;
  margin-bottom: 0;
  color: white;
}

h2 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
}

h3 {
  font-size: 27px;
  font-weight: 500;
  line-height: 37.8px;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

h5 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

h2.except {
  font-size: 27px;
  font-weight: 500;
  line-height: 31px;
}

.x-image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 20px;

  img {
    width: 100%;
    margin-bottom: 15px;
  }

 
}

@media (max-width: 480px) {
  h2 {
    font-size: 26px;
    line-height: 34px;
  }
}

.baner-2 {
  border: 1px solid grey;
}

p {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.8px;
}

ul {
  h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
  }
}

.main-link {
  color: #0006ff;
  font-size: 25px;
  font-weight: 700;
  text-decoration: underline;
}

.el-box {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 5px 0;

  .el {
    padding: 5px 15px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 500;
  }

  //    .el:not(.last) {
  //        border-right: 1px solid black;
  //    }
  //
}

.blue-link {
  font-size: 11px;
  color: #000dc3;
  cursor: pointer;
}

.baner-2 {
  position: sticky;
  top: 10px;
}

.box {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 35px;
  background-color: #dedede;

  p {
    font-size: 22px;
    font-weight: 700;
  }
}

.box-2 {
  background-color: #dedede;
  padding: 15px 0;

  p {
    font-size: 22px;
    font-weight: 700;
  }
}

.red {
  color: red;
}

.articles-box {
  width: 80%;
  margin: 0 auto 40px auto;
  display: block;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;

    p {
      margin-bottom: 0;
      font-size: 15px;
      width: 100%;
    }

    img {
      margin-right: 7px;
    }
  }
}

ul {
  margin-left: 25px;
  padding-left: 0;
}

.tabel {
  width: 100%;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-wrapper {
  text-align: center;

  .facebook {
    max-width: 240px;
    margin-bottom: 15px;
    cursor: pointer;
    margin-top: 5px;
  }
}

.weather {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
